@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: Outfit;;
}

.logo {
  width: 110px;
  height: auto;
}
/* Background */
.bg-primary-light {
  background-color: #ffffff;
}

/* Borders */
.border-primary {
  border-bottom: 2px solid #388e3c;
}

/* Text colors */
.text-primary {
  color: #2e7d32;
}

.text-secondary {
  color: #388e3c;
}

/* Button */
.btn-primary {
  background-color: #388e3c;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #2e7d32;
}
.bg-light-dark {
  background-color: #c8e6c9;
}

/* Optional accent */
.accent {
  color: #4db6ad;
}
.bg-primary {
  background-color: #388e3c;
}
.active hr{
  @apply block
}
.bg-light{
  background-color: #f9fff9
}

::-webkit-scrollbar {
  @apply hidden 

}
